<nav class="manage-nav">
    <a href="/blog" class ="blog-nav"> All blog </a> |
    <a href="/blog_user" class ="blog-nav"> Your blog  </a> |
    <a href="/blog_create" class ="blog-nav"> Create blog </a> |
    <!-- Waiting as id in blog_user and blog_create -->
    <!-- <a href="/" class ="dark-blue-text"> Manage user  </a> | -->
</nav>
<br>