 
     <section class = "body-background-box-blog">

        <form action="/blog_create_confirm" method="post" class="create-blog">
    

            <label for="blog-name" class="label-blog-create">Title :</label>
            <input type="text" name="blog_name"
            id = "blog-name"
            required>

            <label for="blog-detail" className = "label-blog-create">Content : </label>
            <textarea name="blog_detail" id="blog-detail" cols="30" rows="10" className="input-contact" 
            required></textarea>
            
            <!-- <label for="id">user-id</label>
            <input type="number" name="id" id="user-id"> -->

            <div></div>
            <div class = "home-button-container-register">
            <input type="submit" name="action" value="create" class="button"/>
            </div>

        </form> 

    </section>
    <br>
