<footer class="row">
    <div class="col">
        <img src="../Image/Logo-High-Street-Gym.png" class="logo" alt="Logo High Street Gym" />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum necessitatibus molestiae consectetur, dolor numquam, quidem consequuntur veritatis aspernatur modi incidunt corrupti praesentium molestias maiores. Quaerat optio aperiam eum quisquam asperiores!</p>
    </div>
    <div class="col">
        <article class="footer-title">
            <p>Office</p>
            <div class="underline"><span></span></div>
        </article>
        <p>Unit 3, 13 Upmost Street</p>
        <p>Shelley Shores QLD 4651</p>
        <p class="email-id">Email: support@uptownit.com.au</p>
        <p>Phone: 07 4123 8910</p>
    </div>
    <div class="col">
        <article class="footer-title">
            <p>Links</p>
            <div class="underline"><span></span></div>
        </article>
        <ul>
            <li><a href="/manage_booking">Manage Bookings</a></li>
            <li><a href="/manage_blog">Manage Blogs</a></li>
            <li><a href="/manage_user">Manage User</a></li>
            <li><a href="/manage_class">Manage Class</a></li>
        </ul>
    </div>
    <div class="col">
        <article class="footer-title">
            <p>Newsletter</p>
            <div class="underline"><span></span></div>
        </article>
        <form class="footer-form">
            <i class="fas fa-envelope fa-2xl"></i>
            <input type="email" placeholder="  Enter You Email" required />
            <button type="submit" aria-label="submit"><i class="fa-solid fa-right-to-bracket fa-2xl" style="color: #f5f8fa"></i></button>
        </form>
        <div class="social-icons">
            <i class="fa-brands fa-square-facebook fa-2xl"></i>
            <i class="fa-brands fa-instagram fa-2xl"></i>
            <i class="fa-brands fa-square-twitter fa-2xl"></i>
        </div>
    </div>
    <hr />
    <p class="copyright">
        &copy; Mongkonkrit High Street Gym 2024. All Rights Reserved
        <a href="https://www.w3.org/WAI/WCAG2AAA-Conformance" title="Explanation of WCAG 2 Level AAA conformance">
            <img
                height="32"
                width="88"
                src="https://www.w3.org/WAI/WCAG22/wcag2.2AAA"
                alt="Level AAA conformance,
                W3C WAI Web Content Accessibility Guidelines 2.2" />
        </a>
    </p>
</footer>