<header>
	<nav class="navbar">
		
		<a href="/home" class="nav-branding"><img src="../Image/Logo-High-Street-Gym.png" alt="logo" /> </a>
		<ul class="nav-menu">
			<li class="nav-item">
				<a href="/create_booking" class="nav-link">Booking</a>
			</li>
			<li class="nav-item">
				<a href="/blog" class="nav-link">Blogs</a>
			</li>
			<li class="nav-item">
				<a href="/class_list" class="nav-link">Class</a>
			</li>
			<li class="nav-item">
				<a href="/user_logout" class="nav-link">Log out</a>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
		
	</nav>
</header>