<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Manage Blog - High Street Gym</title>
</head>
<body>
    <main>
        <%- include("partials/manage_nav.ejs") %>
        <h1>Manage Blog</h1>
        
        <article class = "size-details-timetable">
        <%- include("partials-manage/blog_delete_manage.ejs") %>  
        </article>

    </main>

    <%- include("partials/footer.ejs") %>
    
</body>
</html>